@model MvcShop.Models.CartModel
@{
    ViewBag.Title = "View Cart";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    
}
<script>
    var AppUrlSettings = {
        AddToCartUrl: '@Url.Action("AddToCart","Cart")',
        RemoveFromCartUrl: '@Url.Action("RemoveFromCart", "Cart")',
        UpdateCartQuantityUrl: '@Url.Action("UpdateCartQuantity", "Cart")'
    }
</script>
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image"></td>
                        <td class="description">Mã sản phẩm</td>    
                        <td class="price">Đơn giá</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Thành tiền</td>
                        <td class=""></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.itemList)
                    {
                        var item_bill = item.Price * item.Quantity;

                        //var item_bill_str = String.Format("{0:n0}", item_bill);
                        //item_bill_str = item_bill_str.Replace(",", ".");

                        var strPrice = String.Format("{0:n0}", item.Price);
                        strPrice = strPrice.Replace(",", ".");

                        <tr class="item_cell">
                            <td class="cart_product col-xs-3">
                                <a href=""><img src="@Html.DisplayFor(i => item.ProductImages)" alt=""></a>
                            </td>
                            <td class="cart_description col-xs-2">
                                
                                <h4><a href="@Url.Action("Index","ProductDetails", new { id = item.ItemId})">
                                    @Html.DisplayFor(i => item.ProductCode)</a></h4>
                                <p>@Html.DisplayFor(i => item.ProductName)</p>
                            </td>
                            <td class="cart_price col-xs-2" data-price="@Html.DisplayFor(i => item.Price)">
                                <p>@strPrice đ</p>
                            </td>
                            <td class="cart_quantity col-xs-1">
                                @*<input class="cart_quantity_input" type="number" name="cart_item_quantity" value="1" autocomplete="off" size="2">*@
                                @Html.EditorFor(i => item.Quantity, new { htmlAttributes = new { @class = "cart_quantity_input", @type = "number", @name = "cart_item_quantity", @min = 1 } })
                                @*<div class="cart_quantity_button">
                                    
                                    <a class="cart_quantity_up" href="#"> + </a>
                                    
                                    <a class="cart_quantity_down" href="#"> - </a>
                                </div>*@
                            </td>
                            <td class="cart_total col-xs-3">
                                <p class="cart_total_price"><span class="value">@item_bill</span> đ</p>
                            </td>
                            <td class="cart_delete col-xs-1">
                                <div class="cart_quantity_delete" data-productID="@Html.DisplayFor(i => item.ItemId)"><i class="fa fa-times"></i></div>
                                @*<a class="cart_quantity_delete" href="#"><i class="fa fa-times"></i></a>*@
                            </td>
                        </tr>
                    }
                    
                </tbody>
                <tfoot>
                    <tr class="cart_bill">
                        <td class=""></td>
                        <td class="">Tổng:</td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class="cart_bill_total"><span></span> đ</td>
                        <td class=""></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="to-checkout-page col-xs-6 col-md-2">
            <a href="@Url.Action("Index","Checkout", Model)">
                Tiếp theo >>
            </a>
        </div>
    </div>
</section> <!--/#cart_items-->

