@model MvcShop.Models.CartModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<script>
    var AppUrlSettings = {
        AddToCartUrl: '@Url.Action("AddToCart","Cart")',
        RemoveFromCartUrl: '@Url.Action("RemoveFromCart", "Cart")'
    }
</script>
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.itemList)
                    {
                        <tr class="item_cell">
                            <td class="cart_product">
                                <a href=""><img src="@Html.DisplayFor(i => item.ProductImages)" alt=""></a>
                            </td>
                            <td class="cart_description">
                                
                                <h4><a href="@Url.Action("Index","ProductDetails", new { id = item.Id })">
                                    @Html.DisplayFor(i => item.ProductCode)</a></h4>
                                <p>@Html.DisplayFor(i => item.ProductName)</p>
                            </td>
                            <td class="cart_price" data-price="@Html.DisplayFor(i => item.NewPrice)">
                                <p>@Html.DisplayFor(i => item.NewPrice)</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    @*<a class="cart_quantity_up" href="#"> + </a>*@
                                    <input class="cart_quantity_input" type="number" name="cart_item_quantity" value="1" autocomplete="off" size="2" >
                                    @*<a class="cart_quantity_down" href="#"> - </a>*@
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">@Html.DisplayFor(i => item.NewPrice)</p>
                            </td>
                            <td class="cart_delete">
                                <div class="cart_quantity_delete" data-productID="@Html.DisplayFor(i => item.Id)"><i class="fa fa-times"></i></div>
                                @*<a class="cart_quantity_delete" href="#"><i class="fa fa-times"></i></a>*@
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

