@model MvcShop.Models.LayoutViewModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<script>
    var AppUrlSettings = {
        AddToCartUrl: '@Url.Action("AddToCart","Cart")',
        RemoveFromCartUrl: '@Url.Action("RemoveFromCart", "Cart")',
        UpdateCartQuantityUrl: '@Url.Action("UpdateCartQuantity", "Cart")',
        AddToCompareUrl: '@Url.Action("AddToCompare", "Compare")'
    }
</script>
    <div class="container body-content">
        @Html.Action("Slider")
        <section>
            <div class="container">
                <div class="row">
                    @{ Html.RenderPartial("SideMenu",Model);}
                    @RenderBody()
                </div>
            </div>
        </section> 
        @Html.Partial("CallButton")
        
        
    </div>

