@using MvcShop.Common
@model MvcShop.Models.LayoutViewModel
<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Sản phẩm</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
        @foreach (var item in Model.Main_ProductType)
        {
            if (item.haveSubType)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#" href="#@Html.DisplayFor(i => item.Id)">
                                <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                @Html.ActionLink(item.TypeName.ToString(),"Types","Shop", new { typeId = item.Id, page = 1 },null)
                                @*@Html.DisplayFor(i => item.TypeName)*@
                            </a>
                        </h4>
                    </div>
                    <div id="@Html.DisplayFor(i => item.Id)" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                @foreach (var subitem in Model.Sub_ProductType)
                                {
                                    if (subitem.ParentTypeId == item.Id)
                                    {
                                        <li>
                                            @Html.ActionLink(subitem.TypeName.ToString(),"Types","Shop", new { typeId = subitem.Id, page = 1 },null)
                                        </li>
                                        @*<li><a href="@Html.DisplayFor(s => subitem.Id)">
                                            @Html.DisplayFor(s => subitem.TypeName)
                                        </a></li>*@
                                    }
                                }

                                
                                @*<li><a href="">Vòi lavabo</a></li>
                                <li><a href="">Xịt vệ sinh</a></li>
                                <li><a href="">Sen tắm</a></li>*@

                            </ul>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            @Html.ActionLink(item.TypeName.ToString(), "Types", "Shop", new { typeId = item.Id, page = 1 },null)
                            @*<a href="#">@Html.DisplayFor(i => item.TypeName)</a>*@
                        </h4>
                    </div>
                </div>
            }

        }
            

            @*<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Lavabo</a></h4>
                </div>
            </div>*@

            

            @*<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            Mens
                        </a>
                    </h4>
                </div>
                <div id="mens" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a href="">Fendi</a></li>
                            <li><a href="">Guess</a></li>
                            <li><a href="">Valentino</a></li>
                            <li><a href="">Dior</a></li>
                            <li><a href="">Versace</a></li>
                            <li><a href="">Armani</a></li>
                            <li><a href="">Prada</a></li>
                            <li><a href="">Dolce and Gabbana</a></li>
                            <li><a href="">Chanel</a></li>
                            <li><a href="">Gucci</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            Womens
                        </a>
                    </h4>
                </div>
                <div id="womens" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a href="">Fendi</a></li>
                            <li><a href="">Guess</a></li>
                            <li><a href="">Valentino</a></li>
                            <li><a href="">Dior</a></li>
                            <li><a href="">Versace</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Households</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Interiors</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Clothing</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Bags</a></h4>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="#">Shoes</a></h4>
                </div>
            </div>*@
      
          </div><!--/category-productsr-->

        <!-- Action Link Menu -->
        <div class="brands_products">
            <!--brands_products-->
            <h2>Thương hiệu</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    @foreach (var item in Model.Brand_Number_of_Product)
                    {
                        <li>
                            <a href="@Url.Action("Brands", "Shop", new { brandId = item.Id, page = 1})">
                                <span class="pull-right">(@Html.DisplayFor(i => item.NumberOfProduct))</span>
                                <span>@Html.DisplayFor(i => item.BrandName)</span>
                            </a>
                        </li>

                        @*<li>
                                @Html.ActionLink(item.BrandName.ToString(), "Brands", "Shop", new { brandId = item.Id, page = 1}, null)
                                    <span class="pull-right">(@Html.DisplayFor(i => item.NumberOfProduct))</span>
                            </li>*@
                    }
                </ul>
            </div>
        </div><!--/brands_products-->

        @*<div class="brands_products">
            <!--brands_products-->
            <h2>Thương hiệu</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">

                    @foreach (var item in Model.Brand_Number_of_Product)
                    {

                        <li><a href="@Html.DisplayFor(i => item.BrandOrder)">
                            <span class="pull-right">(@Html.DisplayFor(i => item.NumberOfProduct))</span>
                            @Html.DisplayFor(i => item.BrandName)
                        </a></li>
                    }
                </ul>
            </div>
        </div><!--/brands_products-->*@
        @{
            var range_min = 1000000;
            var range_max = 30000000;

            if (Session[CommonConstants.PRICE_RANGE_MIN] != null)
            {
                range_min = (int)Session[CommonConstants.PRICE_RANGE_MIN];
            }

            if (Session[CommonConstants.PRICE_RANGE_MAX] != null)
            {
                range_max = (int)Session[CommonConstants.PRICE_RANGE_MAX];
            }

        <div class="price-range">
            <!--price-range-->
            <h2>Khoảng giá</h2>
            <div class="well">
                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="60000000" data-slider-step="5" data-slider-value="[@range_min,@range_max]" id="sl2"><br />
                <b>0 đ</b> <b class="pull-right">60.000.000 đ</b>
            </div>
            <div class="price-range-form col-xs-12 clearfix">
                @using (Html.BeginForm("Price_range_filter", "Shop"))
                {
                    <div class="hidden">
                        @Html.TextBox("range")
                    </div>
                    <div class="col-xs-12 col-md-6 col-md-offset-6">
                        <button type="button" class="btn btn-price-range">Tìm kiếm</button>    
                    </div>
                }
            </div>
        </div><!--/price-range-->
        }
        <div class="shipping text-center">
            <!--shipping-->
            <img src="~/images//home/shipping.jpg" alt="" />
        </div><!--/shipping-->

    </div>
</div>

