@model MvcShop.Models.ShopModel
@{
    string status = "Còn hàng";
    
}
@{
    ViewBag.Title = "Thương hiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-9 padding-right">
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">@ViewBag.PageTitle</h2>
        @{
            MvcShop.Models.ShopModel partialModel = Model;
            Html.RenderPartial("ListProduct", partialModel);
        }
        
    </div><!--features_items-->
    <div class="col-xs-12 pagination-container">
        <ul class="pagination">
            <li class="active">@Html.ActionLink("1", "Brands", new { brandId = @ViewBag.Brand, page = 1 })</li>
            <li>@Html.ActionLink("2", "Brands", new { brandId = @ViewBag.Brand, page = 2 })</li>
            <li>@Html.ActionLink("3", "Brands", new { brandId = @ViewBag.Brand, page = 3 })</li>

            <li><a href="">&raquo;</a></li>
        </ul>
    </div>
</div>


