@model Model.Framework.Product_Details

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}
@{
    string heatType = "Lạnh";
    string status = "Còn hàng";

    if (Model.HeatType == 1)
    {
        heatType = "Nóng lạnh";
    }
    if (Model.ProductStatus == 0)
    {
        status = "Hết hàng";
    }
}
<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center">Xóa Sản phẩm</h3>
            <h4>Bạn có chắc muốn xóa?</h4>

            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="col-xs-12 col-md-6">
                        <dl class="dl-horizontal">
                            <dt>
                                Hãng
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Brand.BrandName)
                            </dd>

                            <dt>
                                Loại
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductType.TypeName)
                            </dd>

                            <dt>
                                Mã SP
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductCode)
                            </dd>

                            <dt>
                                Tên SP
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductName)
                            </dd>

                            <dt>
                                Chi Tiết
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductDetail)
                            </dd>

                            <dt>
                                Giá hãng
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.OldPrice)
                            </dd>

                            <dt>
                                Giá bán
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NewPrice)
                            </dd>

                            <dt>
                                Hình ảnh
                            </dt>

                            <dd>
                                <img src="@Model.ProductImages" width="100px"/>
                            </dd>

                            <dt>
                                Nóng/lạnh
                            </dt>

                            <dd>
                                @heatType
                            </dd>

                            <dt>
                                Trọng lượng
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductWeight)
                            </dd>

                            <dt>
                                Kích thước
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductDimension)
                            </dd>

                            <dt>
                                Trạng thái
                            </dt>

                            <dd>
                                @status
                            </dd>

                        </dl>
                    </div>
                    <div class="col-xs-12">
                        <div class="col-xs-6 col-md-3">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Xóa" class="btn btn-danger" />
                                    &nbsp;&nbsp;
                                    @Html.ActionLink("Quay lại", "Index")
                                </div>
                            }
                        </div>
                    </div>
                    
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

</div>

