@model IEnumerable<Model.Framework.Product_Details>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Admin.cshtml";
}
<div id="page-wrapper">
    <div class="col-xs-12">
        <h2 class="page-header text-center">Danh sách mặt hàng</h2>
        <p>
            <a href="@Url.Action("Create", "Product_Details")"><i class="fa fa-plus fa-fw"></i> Thêm mới</a>
        </p>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Tổng hợp danh sách
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table class="table list-product-table text-center">
                        <tr>
                            <th>

                            </th>
                            <th>
                                Hãng
                            </th>
                            <th>
                                Loại
                            </th>
                            <th>
                                Mã SP
                            </th>
                            <th>
                                Giá Hãng
                            </th>
                            <th>
                                Giá Bán
                            </th>
                            <th>
                                Hình Ảnh
                            </th>
                            <th>
                                Nóng/lạnh
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            string heatType = "Lạnh";
                            string status = "Còn hàng";
                            if (item.HeatType == 1)
                            {
                                heatType = "Nóng lạnh";
                            }
                            if (item.ProductStatus == 0)
                            {
                                status = "Hết hàng";
                            }

                            <tr>
                                <td>
                                    <button class="btn btn-info increase-order" data-id="@item.Id" data-url="@Url.Action("IncreaseOrder","Product_Details")">Ưu tiên</button>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Brand.BrandName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductType.TypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OldPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NewPrice)
                                </td>
                                <td class="img-container">
                                    @*<img class="image" src="@Html.DisplayFor(modelItem => item.ProductImages)"/>*@

                                    <img class="image" src="http://ganxa.net:7777/Uploads/citygarden1.jpg" />

                                </td>
                                <td>
                                    @heatType
                                </td>
                                <td>
                                    @status
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>

                    <!-- /.table-responsive -->

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

</div>
